
@font-face {
  src: url(font/Gudea-Bold.ttf);
  font-family: gud;
  src: url(font/Rancho-Regular.ttf);
  font-family: ran;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000033;
  background-image: url(images/BackGroundSnow.jpg);
  background-position: top;
}

#container {
  margin: 0px auto;
  width: 840px;
  /*background-image: url(images/topimage.jpg);*/
  background-position: top;
  background-repeat: no-repeat;
}

#head {
  width: 840px;
  height: 260px;
}

#myname {
  padding-top: 120px;
  width: 840px;
  height: 120px;
  text-align: center;
}

#myname a {
  font-family: Verdana, Arial, Times, san-serif;
  font-size: 90px;
  font-weight: bold;
  color: #ffffff;
  padding-right: 50px;
  font-family: ran;
}

#realbody {
  margin-top: 10px;
  width: 840px;
}

#content {
  width: 640px;
  float: right;
  background-image: url "";
  background-repeat: no-repeat;
  background-position: bottom right;
  overflow: hidden;
  min-height: 390px;
}

#content p {
  font-family: gud;
  font-size: 35px;
  color: #ffffff;
}
