html {
  background: #82d4e8;
}
@font-face {

  src: url(font/Gudea-Regular.ttf);
 main
  font-family: gud;
  src: url(font/Rancho-Regular.ttf);
  font-family: ran;
}
main {
  display: flex;
}
.bold {
  font-size: 60px;
  font-weight: 900;
  font-family: ran;
}
.body-text {
  font-size: 30px;
  font-weight: 400;
  color: rgb(65, 58, 58);
  font-family: gud;
}


#container {
  margin: 0px auto;
  width: 840px;
  background-position: top;
  background-repeat: no-repeat;
}

#head {
  width: 840px;
  height: 260px;
}

#myname {
  padding-top: 120px;
  width: 840px;
  height: 120px;
  text-align: center;
}

#myname a {
  font-family: ran;
  font-size: 90px;
  font-weight: bold;
  color: #ffffff;
  padding-right: 50px;
}

#realbody {
  margin-top: 10px;
  width: 840px;
}

#content {
  font-family: gud;
  font-size: 35px;
  width: 640px;
  float: right;
  background-repeat: no-repeat;
  background-position: bottom right;
  overflow: hidden;
  min-height: 390px;
}

#content p {
  font-family: gud;
  font-size: 35px;
  color: #ffffff;
=======
.item {
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  padding: 1rem 2rem;
  background: #82d4e8;
}

.sidebar-left {
  background-color: #82d4e8;

  order: 1;
  flex: 2;
  height: 55vh;
}

@media screen and (max-width: 575px) {
  main {
    flex-direction: column;
  }
  .sidebar-left {
    order: 2;
  }
main
}
