@font-face {
  src: url(font/Gudea-Bold.ttf);
  font-family: gud;
  src: url(font/Rancho-Regular.ttf);
  font-family: ran;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000033;
  background-image: url(images/BackGroundSnow.jpg);
  background-position: top;
}